body
  padding: 0px 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #111111
  color: #FFFF11

a
  color: #fff
  

b
  color: #fff
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif

#logo
  margin: left
  //padding: 10px 10px

#photo
  margin: center

#container1  
  height: 170px
  text-align:center
  //width: 450px
  //margin: 0 auto
  //padding: 140px 20px
  //background: #ff1
  //box-shadow: 1px 3px 3px #333
  //border-radius: 50px
  //border: 1px solid #fff

#container2
  //background: #fff
  width: 300px
  float: left
  text-align:center
  //border: 1px solid #fff

#topstripe
  margin: 0
  padding: 0
  height: 5px
  background: #f64