body {
  padding: 0px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111;
  color: #ff1;
}
a {
  color: #fff;
}
b {
  color: #fff;
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#logo {
  margin: left;
}
#photo {
  margin: center;
}
#container1 {
  height: 170px;
  text-align: center;
}
#container2 {
  width: 300px;
  float: left;
  text-align: center;
}
#topstripe {
  margin: 0;
  padding: 0;
  height: 5px;
  background: #f64;
}
