extends layout

block content
  #container1
    b #{title}
    #container2
      #logo
        img(src='/images/logo.png', width='37%')
  hr
  #container1
    b #{title}
    #container2
      #photo
        img(src='/images/photo.png', width='45%')
      a and here comes something