extends layout

block content
  #container1
    b #{title}
    #container2
      #logo
        img(src='/images/logo.png', width='50%')
  hr
  #container1
    b Und hier kommt dann ganz viel text hin
    #container2
      b David Reinisch
      #photo
        img(src='/images/photo.png', width='100%')
      a(href='/background') Background
    br
    br
    form(method='post')
      | Enter the content for the database
      div
        input(type='text', name='content')
        input(type='submit', value='do it')